<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">Acerca de Quesadillo</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae facere eos molestias? Ut, labore,
                    suscipit officiis deserunt minima modi officia, cupiditate provident commodi nisi animi in?
                    Exercitationem eligendi id, incidunt repudiandae officia odit ducimus dicta quae similique. Omnis
                    itaque enim nulla voluptate voluptas quo vitae obcaecati quasi optio similique vel hic atque
                    corporis odio deleniti aliquam, beatae mollitia laudantium adipisci minima sed placeat non nihil.
                    Accusantium magni deserunt odit exercitationem doloribus fugit impedit at ea ut, iste cumque
                    nesciunt asperiores nihil ipsam expedita voluptates recusandae excepturi culpa ex sequi cum!
                    Veritatis, aperiam expedita. Eaque ut, inventore qui maiores voluptatibus nemo id, at molestias
                    incidunt dicta tempore consequuntur, ipsa itaque labore error beatae numquam adipisci aspernatur.
                    Dolor excepturi, dolores optio quidem accusamus porro fugit eos qui. Quae quidem veniam maiores
                    omnis assumenda fuga iure recusandae neque numquam asperiores, nam aspernatur nesciunt
                    exercitationem non, adipisci magnam minima accusamus blanditiis cumque enim. Earum harum iste minus
                    autem voluptates! Ratione alias, omnis laudantium, dolores hic quae vitae earum natus iure ipsa
                    provident fuga molestias vero assumenda accusamus eos sequi dolore et commodi expedita
                    exercitationem sed repellat repudiandae? Atque reiciendis dolore doloribus aspernatur eius earum,
                    tenetur delectus suscipit aliquid quis animi amet, rerum aliquam iure?</p>
            </section>
        </main>
        <%- include('partials/footer.ejs') %>
</body>

</html>